@import url('../global.css');

h1 {
    width: 100%;
    color: var(--darkblue);
    text-align: center;
    margin-bottom: 20px;
    font-size: 42px;
}
body{
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 80vh;
}

.table-title {
    width: 100%;
    text-align: left !important;
    margin: 0;
}

button:hover {
    background-color: var(--lightblue);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    font-size: 18px;
    text-align: left;
}

table thead tr {
    background-color: var(--darkblue);
    color: var(--white);
    text-align: left;
    font-weight: bold;
    border-left: 5px solid var(--darkblue);
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid var(--darkblue);
}

table tbody tr {
    border-bottom: 1px solid var(--darkblue);
    border-left: 5px solid var(--darkblue);
}

table tbody tr:nth-of-type(even) {
    background-color: var(--lightwhite);
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--darkblue);
}

table tbody tr:hover {
    background-color: var(--lightyellow);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search input[type="text"], .search button {  
    flex: 1; /* O input irá ocupar o espaço disponível */  
    padding: 10px;  
    margin-right: 10px;  
    border: 1px solid var(--darkblue);  
    background-color: var(--darkblue);
    color: var(--white);
    border-radius: 40px;  
    max-width: 300px; /* Limita a largura máxima do input */  
}  

.search .input-filter-date {
    width: 20%;
    margin: 10px;
    padding: 15px;
    background: var(--darkblue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

.search .input-filter-date input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.add-quote, .add-product, .add-user {
    width: 15%;
    padding: 10px;
    background: var(--darkblue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}
.section-cotasfiltradas{
    width: 100%;
    display: flex;
}
button{
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: var(--darkblue);
    text-align: center;
    color: var(--white);
}

.add-quote-btn, .add-product-btn, .add-user-btn {
    padding: 10px 10px;
    background: var(--darkblue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.back-btn {
    position: absolute;
    left: 30px;
    top: 150px;
    padding: 10px 20px;
    background-color: var(--darkblue);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: var(--lightblue);
}

table tbody td a {
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--darkblue);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

table tbody td a:hover {
    background-color: var(--darkblue);
    color: var(--white);
}

.table-container {
    overflow-x: auto;
}

.maior-preco {
    color: var(--red);
}

.menor-preco {
    color: var(--green);
}

.warning {
    width: 100%;
    text-align: center;
    color: var(--red);
}

#usuario-nutricionista {
    background-color: #c8e6c9; /* Verde claro */
    color: #2e7d32; /* Verde escuro */
}

#usuario-contador {
    background-color: #ffcdd2; /* Vermelho claro */
    color: #c62828; /* Vermelho escuro */
}

#usuario-administrador {
    background-color: #bbdefb; /* Azul claro */
    color: #1565c0; /* Azul escuro */
}


/* Estilos para o filtro */
.filter {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.filter-btn {
    background: var(--lightblue);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.filter-btn:hover {
    background: var(--yellow);
    transform: scale(1.05);
}

.filter-menu {
    display: none;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.filter-menu.show {
    display: block;
}

.filter-menu button {
    background: none;
    border: none;
    color: var(--black);
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-menu button:hover {
    background-color: var(--lightblue);
    color: var (--white);
}