* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --yellow: #fbde04;
    --lightyellow: #f9e79f;
    --lightgray: #bebcaf;
    --orange: #fdb813;
    --darkblue: #2a3e85;
    --green: #65b560;
    --lightblue: #3e9bd4;
    --superlightblue: #d0e1f9;
    --red: #ff0000;
    --darkred: #c9302c;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #333333;
    --lightwhite:#e8eef7;
    --superdarkblue: #324a89;
    --gray: #555555;
}

header {
    background-color: var(--darkblue);
    color: var(--white);
    padding: 10px 20px;
    height: 12%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between; /* Adiciona espaço entre logo e user-info */
}

.header-container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    width: auto;
    margin-right: 10px;
}

.system-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}

.user-info {
    display: flex;
    align-items: center;
    padding: 0; /* Remove o padding */
    background-color: transparent; /* Torna o fundo transparente */
}

.greeting {
    font-size: 1.5rem; /* Tamanho maior para a saudação */
    color: var(--white);
    margin-right: 20px; /* Espaço à direita da saudação */
}

.user-role {
    font-weight: bold; /* Negrito para o cargo */
    color: var(--yellow); /* Cor diferente para o cargo, se desejar */
    transition: color 0.3s ease;
}

.user-role:hover {
    text-decoration: underline;
}

.user-name {
    font-weight: bold; /* Negrito para o nome */
}

.logout-btn {
    display: flex;
    background-color: var(--darkred);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.logout-btn i{
    margin-left: 10px;
}

.logout-btn:hover {
    background-color: var(--red);
    transform: scale(1.05);
}

.home-btn {  
    padding: 10px 20px;  
    background-color: var(--darkblue);  
    color: var(--white);  
    font-size: 1rem;  
    cursor: pointer;  
    text-decoration: none; /* Remove o sublinhado do link */  
    transition: background-color 0.3s ease;  
} 

/* Configuração do layout principal */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
    margin: 0;
    background: linear-gradient(135deg, var(--superlightblue) 0%, var(--lightwhite) 100%);
    color: var(--darkgray);
}

main {
    flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

/* Rodapé fixado na parte inferior */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--darkblue);
    color: var(--white);
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Garante que o footer não encolha */
}