@import url('../global.css');

body {
    background-color: var(--white);
    color: var(--black);
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.menu-btn {
    background: none;
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-btn:hover {
    color: var(--lightblue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    background-image: url("../../../../src/testefundo.jpg");
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.sidebar {
    width: 250px;
    background-color: var(--darkblue);
    color: var(--white);
    padding: 20px;
    display: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.sidebar.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
    flex-direction: column;
    align-items: center;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 2.0rem;
    color: var(--yellow);
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item a {
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.menu-item a:hover {
    background-color: var(--lightblue);
    transform: translateX(5px);
}

.welcome-banner {
    position: relative;
    height: 500px;
    background-size: cover;
    background-position: center;
    color: var(--white);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.banner-overlay {
    background: var(--darkblue);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    animation: slideIn 0.5s ease-out;
}

.welcome-banner h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    animation: fadeIn 1s;
}

.welcome-banner p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.description {
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.btn-primary {
    background: var(--lightblue);
    color: var(--white);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background: var(--yellow);
    transform: scale(1.05);
}

.user-buttons{
    width: 30%;
    display: flex;
    justify-content: end;
}
.user-buttons > * {
    margin: 5px;
}

.notification-box{
    position: relative;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7px;
    border-radius: 5px;
    background: var(--orange);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: closeNotification 0.2s;
    z-index: 2;
}
.notification-box::before{
    content: '';
    position: absolute;
    background: var(--darkblue);
    width: 100%;
    height: 200px;
    top: -200px;
    z-index: 3;
}
.notification-box.active{
    width: 50%;
    animation: openNotification 0.2s;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.notification-box.active .notification-trigger{
    position: absolute;
    z-index: 3;
}
.notification-dropdown{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 260px;
    z-index: 1;
    background: #fff;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation-name: ondrop;
    animation-duration: 0.5s;  
}
.notification-dropdown ul li{
    background: var(--darkblue);
    margin: 10px;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
}
.notification-dropdown.active{
    display: block;
}
.notification-trigger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--orange);
    border-radius: 5px;
}
.notification-trigger *{
    padding: 2px;
}

.notification-trigger:hover{
    cursor: pointer;
}

/* Animações */ 
@keyframes ondrop {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
    
}

@keyframes openNotification {
    0%{
        width: 10%;
    }
    100%{
        width: 50%;
    }
}
@keyframes closeNotification {
    0%{
        width: 50%;
    }
    100%{
        width: 10%;
    }
    
}
@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; } 
} 

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; } 
} 

@keyframes slideOut { 
    from { transform: translateX(0); opacity: 1; } 
    to { transform: translateX(-100%); opacity: 0; } 
}